<h1>Welcome to the Movies App!</h1>

<%= form_tag "/", method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<p><%= link_to "Add a new movie +", new_movie_path %>

<br/><br/>

<%= render 'list' %>
