<!DOCTYPE html>
<html>
<head>
  <title>MoviesApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    Welcome, <%= current_user.email %>! <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> <><><><><> <%= link_to "Log in", new_user_session_path %>
  <% end %>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
